.container{
    max-width: 1200px;
    width: 95%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex-shrink: 1;
}
.slider-wrapper .image-list{
    display: grid;
    gap: 18px;
    font-size: 0;
    overflow-x: auto;
    grid-template-columns: repeat(10,1fr);
}
.slider-wrapper .image-list .image-item{
    width: 320px;
    height: 500px;
    object-fit: cover;
    border-radius: 25px;
    margin-bottom: 15px;
}
#image-slider-main-div h2{
    display: flex;
    flex-shrink: 2;
}
#image-slider-main-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 700px;
    background-color: white;
    gap: 20px;
    margin: 0;
    padding-top:40px;
    padding-bottom: 40px;
    flex-shrink: 1;
}
@media (max-width: 768px) {
    .container{
    max-width: 675px;
    flex-shrink: 1;
    }
    .slider-wrapper .image-list .image-item{
        flex-shrink: 1;
    }
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
  }